@media (min-width: 576px) {
  .searchBar {
    height: 3vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBarInput {
    height: 17px;
    text-align: center;
    border: 1px solid rgb(237, 167, 161);
    font-size: 11px;
    width: 120px;
    border-radius: 20px;
  }
}
@media (min-width: 992px) {
  .searchBar {
    height: 3vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchBarInput {
    height: 20px;
    text-align: center;
    border: 1px solid rgb(237, 167, 161);
    font-size: 13px;
    width: 140px;
    border-radius: 20px;
  }
}
