.cartDiv {
  width: 200px;
  min-height: 100px;
  border: 1px solid black;
  background: red;
  position: fixed;
  top: 100px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}
.cartItemList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.cartItem {
  font-size: 16px;
}
