.header {
  /* position: fixed; */
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(242, 106, 94);
  font-size: xx-large;
  color: white;
  gap: 1rem;
  margin-bottom: 3vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headerLink {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.cartBtnDiv {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartBtn {
  font-size: 22px;
}
