.sidePanel {
  right: 0;
  width: 180px;
  height: 71vh;
  background: rgb(237, 167, 161);
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 20px 0px 0px 20px;
}
.item {
  border-radius: 20px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 20px;
  background: rgb(242, 106, 94);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
