@media (min-width: 576px) {
  .generalPage {
    min-height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .generalPage {
    min-height: 74vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
