.footer {
  height: 13vh;
  background: rgb(242, 106, 94);
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.iconFooter {
  font-size: 40px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 20px;
  padding: 5px;
}
.iconFooter:hover {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.699);
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 20px;
  padding: 5px;
}
