.cartDiv {
  width: 300px;
  min-height: 100px;
  border: 1px solid black;
  background: rgb(237, 167, 161);
  position: fixed;
  top: 100px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  color: black;
}
.cartItemList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}
.cartItemDiv {
  width: 290px;
  padding: 0 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
.cartItem {
  min-height: 20px;
  font-size: 15px;
  width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cartRemoveButton {
  height: 30px;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  background: none;
}
.cartOrderButton {
  height: 30px;
  font-size: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.397);
  border-radius: 15px;
  padding: 0 10px;
}
