.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 30px;
}
.formItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.orderItem {
  border: 1px solid rgba(0, 0, 0, 0.11);
  display: flex;
  gap: 0.5rem;
  padding: 10px;
}
.error {
  text-align: center;
}
